<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI7elH0sgcZhJ-VBhNZx_fd1IW746pGx8</string>
	<key>GCM_SENDER_ID</key>
	<string>5764322017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appint</string>
	<key>PROJECT_ID</key>
	<string>fitchair1</string>
	<key>STORAGE_BUCKET</key>
	<string>fitchair1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5764322017:ios:f6ef20149a3210867b9da0</string>
	<key>DATABASE_URL</key>
	<string>https://fitchair1-default-rtdb.firebaseio.com</string>
</dict>
</plist>